# prev-gen-gui
limit_req_zone $binary_remote_addr zone=prevgen:10m rate=1r/s;

server {
  listen 443 ssl;
  listen 443 quic;
  server_name prevgen.aonodensetsu.me;
  root /var/www/prev_gen_gui/frontend;
  index index.html;
  include snippets/long.ssl;
  include snippets/control;

  limit_req zone=prevgen burst=50 nodelay;
}

# prev-gen-gui-short
server {
  listen 443 ssl;
  listen 443 quic;
  server_name p.00t.in;
  include snippets/short.ssl;
  limit_req zone=prevgen burst=50 nodelay;
  return 302 https://prevgen.aonodensetsu.me$request_uri;
}

